# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules
package-lock.json

# Build outputs
/build
/dist

# Development
.DS_Store
.env*
.vscode
.idea
*.log

# Extension specific
*.pem
*.crx

# Temporary files
*.tmp
*.temp
.cache

# Testing
/coverage

# Old boilerplate stuff we want to ignore
/assets/img
/containers
/utils
.babelrc
.eslintrc
.prettierrc
build.zip
tsconfig.json
/zip
secrets.*.js
.history
.env.local
.env.development.local
.env.test.local
.env.production.local

# Old directories
containers/
assets/img/
utils/
